# Ignore Phoenicia-Digital.log file
Phoenicia-Digital.log

# Ignore .vscode directory
.vscode/

# Ignore dist directory
dist/

# Ignore Persisted Data From Docker Contaienrs
docker/.postgres/data/*
docker/.mongo/data/*